@(Games: Seq[Game], form: Form[Game])(implicit messages: Messages)

@main("Play", false) {

    <h1>Games</h1>
    <table>
        <thead>
            <tr><th>Name</th><th>Price</th><th>descriptions</th><th>console</th></tr>
        </thead>
        <tbody>
        @for(game <- Games) {
            <tr><td>@game.name</td>
                <td>@game.price</td></tr>
                <td>@game.description</td>
                <td>@game.img</td>
            <td>@game.console</td>

        }
        </tbody>
    </table>

    <hr/>

    @helper.form(routes.Application.createGames()) {
        @helper.inputText(form("name"), '_label -> "Name", '_showConstraints -> false)
        @helper.inputText(form("price"), '_label -> "Price", '_showConstraints -> false)
        @helper.inputText(form("description"), '_label -> "Description", '_showConstraints -> false)
        @helper.inputText(form("img"), '_label -> "Img", '_showConstraints -> false)
        @helper.inputText(form("console"), '_label -> "Console", '_showConstraints -> false)
        <button type="submit">Create Game</button>
    }


}